.project
/.settings/*


/vtogether-core/*
!/vtogether-core/src/

/vtogether-core/*
!/vtogether-core/src/
!/vtogether-core/pom.xml


/vtogether-service/*
!/vtogether-service/src/
!/vtogether-service/pom.xml


/vtogether-web/*
!/vtogether-web/src/
!/vtogether-web/pom.xml